form{
    width:600px;
    margin: 20px auto;
    background-color: rgb(152,185,152);
    padding:20px;
    border-radius: 10%;
}
h3{
    text-align: center;
    font-size: 24px;
    color: rgb(21, 7, 71);
}
fieldset{
    border: 2px rgb(102, 105, 154) groove;
    margin-top: 20px;

}
legend{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color:blue;
}
input,textarea{ 
    width: 95%;
    border:5px solid #c9c9c9;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
}
label{
    margin-bottom:5px;
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
    color:red;
}